[default]
# Log operations with debug level.Default is false
#debug = false
# The full path of log file
# log_file = "k8sdeploy.log"

[kubernetes]
target_path = "/usr/bin"

nodes = {k8snode1="192.168.142.18", k8snode2="192.168.142.19",k8snode3="192.168.142.21"}
binary_path = "/home/zhangjl/kubernetes/kubernetes"
overwrite_binary = false
overwrite_ssl = true

config_path = "/etc/kubernetes"
ssl_config_path = "/etc/kubernetes/ssl"

kubelet_workdir = "/var/lib/kubelet"

cluster_name = "kubernetes"
apiserver_runtime_config = "rbac.authorization.k8s.io/v1beta1"
apiserver_secure_port = 6443
apiserver_insecure_port = 8080
cluster_service_ip_cidr = "10.20.0.0/16"
service_node_port_range = "30000-32767"
cluster_pod_ip_cidr =  "10.10.0.0/16"
controller_manager_port = 10252
scheduler_port = 10251

api_insecure_port = 8080
api_secure_port = 6443
api_server = "20.30.40.10"

kube_cadvisor_port = 4194
kube_cluster_dns_svc_ip = "10.20.0.2"
kube_dns_domain = "k8s.zhangjl.me"
kubelet_healthz_port = 10248
kube_pod_infra_image = "gcr.io/google_containers/pause:3.0"
kubelet_port = 10250
kubelet_readonly_port = 10255

api_server_template = "/opt/github.com/learningo/templates/kube-apiserver.service.template"
controller_template = "/opt/github.com/learningo/templates/kube-controller-manager.service.template"
scheduler_template = "/opt/github.com/learningo/templates/kube-scheduler.service.template"

[ca]
# The path to store the ca json info files
template_path = "/opt/github.com/learningo/initca"
# The path to store the ca pem and key files
output = "/opt/github.com/learningo/ca"
# Overwrite the ca pem files. Default is true.
#overwrite = true

[etcd]
# The template file for etcd config file
template = "etcd.conf.template"
# The etcd servers, hostname and ip mapping
nodes = {k8snode1="20.30.40.10", k8snode2="20.30.40.4",k8snode3="20.30.40.8"}
# Overwrite the etcd config file. Default is true.
#overwrite = true

[docker]
# The template file of docker service
template = "/opt/github.com/learningo/templates/docker.service.template"
# Docker hub mirror
#docker_hub_mirror = "https://docker.mirrors.ustc.edu.cn"
# The insecure registry of docker, Default is []
#insecure_registrys = []
# Overwrite the docker service file. Default is true.
#overwrite = true

[calico]
# The path of calicoctl on target host.Default is /usr/local/bin
#cni_bin_path = "/usr/local/bin"
# The path of calico config file.Default is /etc/cni/net.d
#cni_conf_path = "/etc/cni/net.d"
# The binary path of calico
cni_binary= "/home/zhangjl/kubernetes/calico"
# Overwrite the calico binary file. Default is false.
#overwrite_binary = false
# Overwrite the calico config file. Default is true.
#overwrite_file = true
