[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
User=root
ExecStart=/usr/bin/kube-apiserver \
            --admission-control=DefaultStorageClass,LimitRanger,NamespaceLifecycle,ResourceQuota,ServiceAccount \
            --advertise-address={{.master_ip}} \
            --allow-privileged=true \
            --apiserver-count={{.kube_master_ips_array}} \
            --authorization-mode=RBAC \
            --bind-address={{.master_ip}} \
            --client-ca-file=/etc/kubenetes/ssl/ca.pem \
            --cloud-config= \
            --cloud-provider= \
            --enable-swagger-ui=true \
            --etcd-prefix={{.kube_etcd_prefix}} \
            --etcd-servers={{.etcd_servers}} \
            --event-ttl=1h \
            --experimental-bootstrap-token-auth \
            --insecure-bind-address={{.master_ip}} \
            --insecure-port={{.kube_apiserver_insecure_port}} \
            --kubelet-https=true \
            --log-dir=/var/log/kubernetes \
            --log-flush-frequency=5s \
            --logtostderr=false \
            --runtime-config={{.kube_apiserver_runtime_config}} \
            --secure-port={{.kube_apiserver_secure_port}} \
            --service-account-key-file=/etc/kubernetes/ssl/ca-key.pem \
            --service-cluster-ip-range={{.kube_cluster_service_ip_cidr}}\
            --service-node-port-range={{.kube_service_node_port_range}} \
            --tls-cert-file=/etc/kubernetes/ssl/kubernetes.pem \
            --tls-private-key-file=/etc/kubernetes/ssl/kubernetes-key.pem \
            --token-auth-file=/etc/kubernetes/token.csv \
            --v=0
Restart=on-failure
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

